img {
    height: 50;
    width: 50;
}

.copy_right_footer {
    background-color:white;
    font-size: 15px;
    float: none;
    position: fixed;
    bottom: 0px;
    width:100%;
    line-height: 3;
    text-align: center;
    color:red;
  }
 
  .image_responsive{
      height: 420px;
      width: 200px;
      padding-top: 5px;
      border-radius: 20px;
  }

  .test_image_and_result {
    background-color:gray;
    color: white;
    box-shadow: 5px 5px 5px black;
    border-radius: 30px;
    width: 1200px;
    height: 440px;
    float:none;
  }

  h5 {
      background-color: white;
      color:black;
      border-radius: 15px;
  }
  
  b {
      color:purple;
  }

  h6 {
    font-size: 20px;  
  }

  span {
    color:red;
    font-weight: bold;
  }